<kendo-grid [data]="view | async"
            [height]="533"
            [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
            [pageable]="true" [sortable]="true"
            (dataStateChange)="onStateChange($event)"
>
    <kendo-grid-column field="name" title="Product Name"></kendo-grid-column>
    <kendo-grid-column field="dateFrom" title="Date From">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.dateFrom | date:'dd.MM.yyyy HH:mm' }}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="theme" title="Theme"></kendo-grid-column>
    <kendo-grid-column field="price" title="Price" format="{0:c}"></kendo-grid-column>
    <kendo-grid-column field="typeProduct" title="Type Product"></kendo-grid-column>
</kendo-grid>
