
<div class="container">
  <nav style="margin-bottom: 20px;" class="navbar navbar-expand-sm bg-primary navbar-dark rounded">
    <div class="container-fluid ">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item" ><a class="nav-link" routerLink="/books">Books</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/broshures">Broshures</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/magazines">Magazines</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/admin">Admin's</a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item navbar-right"><label class="nav-link">{{userName}}</label> </li>
        <li class="nav-item navbar-right" *ngIf="!isAuth" routerLinkActive="active"><a routerLink="/login" class="nav-link">Login</a></li>
        <li class="nav-item navbar-right" *ngIf="isAuth" routerLinkActive="active"><a routerLink="/login" class="nav-link" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <router-outlet></router-outlet>
      <alert></alert>
    </div>
  </div>
</div>
