<kendo-grid [data]="view | async"
            [height]="533"
            [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
            [pageable]="true" [sortable]="true"
            (dataStateChange)="onStateChange($event)"
            (edit)="editHandler($event)" (remove)="removeHandler($event)"
            (add)="addHandler($event)">
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand *ngIf="role">Add new</button>
    <label>{{userName}}</label>
  </ng-template>
  <kendo-grid-column field="id" title="ID" width="100">
  </kendo-grid-column>
  <kendo-grid-column field="name" title="Name" width="120">
  </kendo-grid-column>
  <kendo-grid-column field="author" title="Author" width="120">
  </kendo-grid-column>
  <kendo-grid-column field="dateFrom" title="Date From" width="120">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.dateFrom | date:'dd.MM.yyyy HH:mm' }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="price" title="Price" width="100" format="{0:c}">
  </kendo-grid-column>
  <kendo-grid-column field="genre" title="genre" width="100">
  </kendo-grid-column>
  <kendo-grid-command-column title="command" width="220">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridEditCommand *ngIf="role" class="k-primary">Edit</button>
      <button kendoGridRemoveCommand *ngIf="role">Remove</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
      <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

<kendo-grid-edit-form-book [model]="editDataItem" [isNew]="isNew"
                      (save)="saveHandler($event)"
                      (cancel)="cancelHandler()">
</kendo-grid-edit-form-book>
