<kendo-dialog *ngIf="active" (close)="closeForm()">
    <kendo-dialog-titlebar>
        {{ isNew ? 'Add new product' : 'Edit product' }}
    </kendo-dialog-titlebar>

    <form novalidate [formGroup]="editForm">
      <div class="form-group">
        <label for="name" class="control-label">Name</label>

        <input type="text" class="k-textbox" formControlName="name" />

        <div class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.name.valid || editForm.controls.name.pristine">
          ProductName is required
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label">Author</label>

        <input type="text" class="k-textbox" formControlName="author" />

        <div class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.author.valid || editForm.controls.author.pristine">
          Author is required
        </div>
      </div>
      <div class="form-group">
        <label for="genre" class="control-label">Genre</label>

        <input type="text" class="k-textbox" formControlName="genre" />
        <div class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.genre.valid || editForm.controls.genre.pristine">
          Genre is required
        </div>
      </div>
      <div class="form-group">
        <label for="price" class="control-label">Price</label>

        <input type="text" class="k-textbox" formControlName="price" />

        <div class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.price.valid || editForm.controls.price.pristine">
          Price must be number
        </div>
      </div>
    </form>

    <kendo-dialog-actions>
        <button class="k-button" (click)="onCancel($event)">Cancel</button>
        <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
    </kendo-dialog-actions>
</kendo-dialog>
